<launch>
    <arg name="model" default="dkrobot"/>

    <rosparam command="load" file="$(find dkrobot_control)/config/dkrobot_control.yaml"/>
    <rosparam command="load" file="$(find dkrobot_control)/config/pid.yaml"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="dkrobot" args="joint_state_controller mobile_base_controller"/>


    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        ns="dkrobot" respawn="false" output="screen">
        <remap from="/joint_states" to="/dkrobot/joint_states" />
        <!-- param name="publish_frequency" type="double" value="30.0" /-->
    </node>

    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/dkrobot/mobile_base_controller/cmd_vel"/>
    </node>
</launch>